# IMPORTS

In [13]:
%load_ext autoreload
%autoreload 2

In [35]:
# data
import numpy as np
import pandas as pd

# graphics
import plotly.express as px
import matplotlib.pyplot as plt

# stats
from sktime.split import temporal_train_test_split

# src
from src.utilities import from_pickle, to_pickle
from src.data.transformations import split_train_test_ts

# PATHS & NAMES

In [3]:
RAW_FILENAME = "dataset.parquet"
RAWFILE_FOLDER = "../data/raw"
RAW_FILEPATH = f"{RAWFILE_FOLDER}/{RAW_FILENAME}"

INTERIM_FILENAME = "transformed.pkl"
INTERIM_FOLDER = "../data/interim"
INTERIM_FILEPATH = f"{INTERIM_FOLDER}/{INTERIM_FILENAME}"

REPORT_FOLDER = "../reports"

TARGET = "y"
LAG_TARGET = "x_y_lagged"

FIG_WIDTH = 15
FIG_HEIGHT = 3

# DATA

In [4]:
df = pd.read_parquet(RAW_FILEPATH, engine='pyarrow')

In [24]:
# fix indicies
df.index.name = None
df.columns.name = None

# fix date
df['date'] = df.index
df['date'] = df['date'].dt.tz_localize(None)

In [25]:
df.head()

                              x01      x02  ...      z                date
2023-01-16 01:00:00+01:00  4277.0  15501.0  ...  60.01 2023-01-16 01:00:00
2023-01-16 02:00:00+01:00  4130.0  15089.0  ...  60.01 2023-01-16 02:00:00
2023-01-16 03:00:00+01:00  3999.0  14962.0  ...  62.72 2023-01-16 03:00:00
2023-01-16 04:00:00+01:00  3965.0  15026.0  ...  56.10 2023-01-16 04:00:00
2023-01-16 05:00:00+01:00  4104.0  15470.0  ...  63.30 2023-01-16 05:00:00

[5 rows x 35 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6048 entries, 2023-01-16 01:00:00+01:00 to 2023-09-25 00:00:00+02:00
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   x01         6047 non-null   float64
 1   x02         6047 non-null   float64
 2   x03         6047 non-null   float64
 3   x04         6047 non-null   float64
 4   x05         6047 non-null   float64
 5   x06         6047 non-null   float64
 6   x07         6047 non-null   float64
 7   x08         6047 non-null   float64
 8   x09         6047 non-null   float64
 9   x10         6047 non-null   float64
 10  x11         6047 non-null   float64
 11  x12         6047 non-null   float64
 12  x13         6047 non-null   float64
 13  x14         6047 non-null   float64
 14  x15         6047 non-null   float64
 15  x16         6047 non-null   float64
 16  x17         6047 non-null   float64
 17  x18         6047 non-null   float64
 18  x19         6047 non-null   float64
 19  x20         6047 non-null   float64
 20  x21         6047 non-null   float64
 21  x22         6047 non-null   float64
 22  x23         6047 non-null   float64
 23  x24         6047 non-null   float64
 24  x25         5950 non-null   float64
 25  x26         5950 non-null   float64
 26  x27         5950 non-null   float64
 27  x28         5950 non-null   float64
 28  x29         6015 non-null   float64
 29  x30         6020 non-null   float64
 30  x_y_lagged  6047 non-null   float64
 31  x_z_lagged  6024 non-null   float64
 32  y           6047 non-null   float64
 33  z           6024 non-null   float64
 34  date        6048 non-null   datetime64[us]
dtypes: datetime64[us](1), float64(34)
memory usage: 1.7 MB

# SPLIT

As imputation strategy as well as other postprocessing a future engineering shall not leak to the test data, split has to be done 1st.

Because the data represent time series, the split shall take into account time aspect as well.

In [34]:
devset, testset = split_train_test_ts(df)
to_pickle(devset, f"{INTERIM_FOLDER}/devset.pkl")
to_pickle(testset, f"{INTERIM_FOLDER}/testset.pkl")

True

# TRANSFORM